.row
	mixin card(card)
		.col
			.card(class=card.status)
				.card_block
					.card_pre Сказочное заморское яство
					.card_title
						| Нямушка
						br
						small= card.filling
					.card_portion= card.portion
						|  порций
						br
						=card.present
						br
						=card.done
					.card_weight= card.weight
						small  кг
				.card_footer
					| Чего сидишь? Порадуй котэ, 
					a купи
					| .
				.card_footer-selected=card.selectText
	for card in cards
		+card(card)